<span fxLayoutGap="10px" fxLayout="row" fxFlex>
  <span
    class="location"
    fxLayoutAlign="default center"
  >
    <mat-icon inline="true">place</mat-icon> {{elm.location}}
  </span>
  <span class="location">
    <app-date-range
      [start]="elm.startDate"
      [end]="elm.endDate"
    ></app-date-range>
  </span>
</span>
