<span
  class="default container"
  fxLayoutAlign="center"
  fxLayoutGap="5px"
>
  <mat-icon inline="true">{{item.icon}}</mat-icon>
  <ng-container [ngSwitch]="item.type">

    <a
      *ngSwitchCase="QuickInfoType.PHONE"
      [href]="'tel:'+item.text"
    >{{item.text | formatPhoneNumber}}</a>

    <a
      *ngSwitchCase="QuickInfoType.EMAIL"
      [href]="'mailto:'+item.text"
    >{{item.text}}</a>

    <a
      *ngSwitchCase="QuickInfoType.URL"
      [href]="'http://'+item.text"
    >{{item.text}}</a>

    <span *ngSwitchDefault>{{item.text}}</span>

  </ng-container>

</span>
