<div class="header" fxLayoutAlign="row">
  <h3 class="name">{{position.name}}</h3>
  <app-date-range [start]="position.startDate" [end]="position.endDate"></app-date-range>
</div>
<ul>
  <li *ngFor="let note of position.notes">{{note}}</li>
</ul>
