.section {
  margin-bottom: 12px;
  padding: 0px 10px; /* Padding avoids fxFlex layout issues. */
}


.container {
  padding: 20px;
  max-width: 1300px;
  margin: 0px auto;
}

/* Main Header */
.container>.header {
  text-align: center;
  padding-bottom: 5px;
}
.container>.header .name {
  margin-bottom: 5px !important;
}

.projects .header {
  font-weight: bold;
}

.additionalWorkExperience ul {
  margin-top: 10px;
  margin-left: 20px;
}


.proficiency {
  margin-top: 10px;
}
.proficiency > .name {
  font-weight: bold;
  display: block;
}
.proficiency > .prof {
  margin-left: 20px;
  display: block;
}

.lastUpdated {
  opacity: .5;
  border-top: 1px solid rgba(0,0,0,.5);
  padding: 5px;
  text-align: center;
}
@media (max-width: 599px) {
  .lastUpdated {
    text-align: left;
  }
}

.downloadBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5;
}
.downloadBtn mat-icon {
  margin-left: -5px;
}
/* Move download button to bottom of screen on mobile, to avoid covering up name. */
@media (max-width: 599px) {
  .downloadBtn {
    top: unset;
    bottom: 10px;
  }
}

@media print {
  .container {
    padding: 0px;
    margin: 0px;
  }
}
