<button
  mat-raised-button
  color="primary"
  class="downloadBtn noPrint"
  (click)="download()"
><mat-icon>download</mat-icon>Download</button>

<div
  class="container"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <div
    class="header section"
    fxFlex="100%"
  >
    <h1 class="name">Chris Backofen</h1>
    <div
      fxLayoutGap.gt-md="20px"
      fxLayoutGap="5px"
      fxLayout="row"
      fxLayout.lt-lg="column"
    >
      <app-quick-info-item
        fxFlex
        *ngFor="let item of quickInfoItems"
        [item]="item"
      ></app-quick-info-item>
    </div>
  </div>

  <div
    fxFlex="100%"
    fxLayout="row wrap"
  >

    <div
      fxFlex="50%"
      fxFlex.lt-md="100%"
      fxLayout="column"
      fxLayoutGap="20px"
    >

      <div
        class="section"
        fxFlex="nogrow"
      >
        <app-section-title
          icon="school"
          text="Education"
        ></app-section-title>
        <app-education-elm
          class="subsection"
          *ngFor="let elm of education | _: 'orderBy':'endDate':'desc'"
          [elm]="elm"
        ></app-education-elm>
      </div>

      <div
        class="section"
        fxFlex="nogrow"
      >
        <app-section-title
          icon="work"
          text="Professional Experience"
        ></app-section-title>

        <app-organization
          class="subsection"
          *ngFor="let organization of workExperience | _: 'orderBy':'endDate':'desc'"
          [organization]="organization"
        ></app-organization>
      </div>
    </div>

    <div
      fxFlex="50%"
      fxFlex.lt-md="100%"
      fxLayout="column"
      fxLayoutGap="20px"
    >

      <div
        class="section"
        fxFlex="nogrow"
      >
        <app-section-title
          icon="construction"
          text="Technical Proficiencies"
        ></app-section-title>
        <div
          class="proficiency"
          *ngFor="let category of technicalProficiencies"
        >
          <span class="name">{{category.name}}</span>
          <span class="prof"> {{category.profs}}</span>
        </div>
      </div>

      <div
        class="section projects"
        fxFlex="nogrow"
      >
        <app-section-title
          icon="dashboard"
          text="Selected Projects"
        ></app-section-title>

        <div
          class="proficiency"
          *ngFor="let project of projects | _:'orderBy':'year':'desc'"
        >
          <span class="name">{{project.name}}</span>
          <span class="prof"> {{project.note}}</span>
        </div>

      </div>

      <div
        class="section"
        fxFlex="nogrow"
      >
        <app-section-title
          icon="emoji_events"
          text="Achievements & Hobbies"
        ></app-section-title>
        <div>{{achievementsAndHobbies.join(' | ')}}</div>
      </div>
    </div>
  </div>
</div>

<div class="lastUpdated">
  Last Updated: {{lastModified | date:'mediumDate'}}
</div>
