<div class="header">
  <h2 class="name">
    <span class="name">{{organization.name}}</span>
    <span *ngIf="organization.displaySummarized">, {{organization.positions[0].name}}</span>
  </h2>

  <app-metadata [elm]="organization"></app-metadata>
</div>

<ng-container *ngIf="!organization.displaySummarized">
  <app-position
    class="offset20"
    *ngFor="let position of organization.positions | _: 'orderBy':'endDate':'desc'"
    [position]="position"
  ></app-position>
</ng-container>
