/* Set default font. */
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 4px;
  padding-left: 16px
}

dl {
  margin: 0px;
}

/* Heading Styles */
h1, h2, h3 {
  margin: 0px !important;
}
h1 {
  font-size: xx-large;
  margin-bottom: 15px !important;
}
h2 {
  font-size: large;
  font-weight: bold;
  /* text-decoration: underline; */
}
h3 {
  font-size: medium;
  /* text-decoration: underline; */
}

.subsection {
  margin-top: 15px;
  display: block;
}

.offset20 {
  margin-left: 20px;
}

.center {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media print {
  h1 {
    font-size: large;
  }
  h2 {
    font-size: large;
  }
  h3 {
    font-size: medium;
  }
  body {
    font-size: .8em !important;
  }

  .noPrint, .noPrint * {
    display: none;
  }
}
